{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-8">
        <form method="POST" action="{% url 'eventos:nuevo' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class="text-primary text-dark font-weight-bold">Organizador</label>
                {{ form.organizador }}
            </div>
            <div class="form-group">
                <label class="text-primary text-dark font-weight-bold">Descripci&oacute;n</label>
                {{ form.descripcion }}
            </div>
            <div class="form-group">
                <label class="text-primary text-dark font-weight-bold">Fecha y hora del evento</label>
                {{ form.fecha_hora }}
            </div>
            <div class="form-group">
                <label class="text-primary text-dark font-weight-bold">Direcci&oacute;n</label>
                {{ form.direccion }}
            </div>
        
            <div class="form-group">
                <label class="text-primary text-dark font-weight-bold">Valor</label>
                {{ form.valor }}
            </div>
            <div class="form-group">
                <label class="text-primary text-dark font-weight-bold">Cantidad de boletos</label>
                {{ form.cantidad_boletos }}
            </div>
            <div class="form-group">
                <label class="text-primary text-dark font-weight-bold">Tipo de evento</label>
                {{ form.tipo }}
            </div>
            <div class="form-group">
                <label class="text-primary text-dark font-weight-bold">Afiche del evento</label>
                {{ form.arte }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-lg">Crear evento</button>
        </form>

    </div>
    <div class="col-4"></div>
</div>

{% endblock %}

