<form method="POST" action="{% url 'eventos:nuevo' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label class="text-primary text-dark font-weight-bold">Organizadpr</label>
        {{ form.organizador }}
    </div>
    <div class="form-group">
        <label class="text-primary text-dark font-weight-bold">descripcion</label>
        {{ form.descripcion }}
    </div>
    <div class="form-group">
        <label class="text-primary text-dark font-weight-bold">fecha_hora</label>
        {{ form.fecha_hora }}
    </div>
    <div class="form-group">
        <label class="text-primary text-dark font-weight-bold">direccion</label>
        {{ form.direccion }}
    </div>

    <div class="form-group">
        <label class="text-primary text-dark font-weight-bold">valor</label>
        {{ form.valor }}
    </div>
    <div class="form-group">
        <label class="text-primary text-dark font-weight-bold">cantidad_boletos</label>
        {{ form.cantidad_boletos }}
    </div>
    <div class="form-group">
        <label class="text-primary text-dark font-weight-bold">tipo</label>
        {{ form.tipo }}
    </div>
    <div class="form-group">
        <label class="text-primary text-dark font-weight-bold">arte</label>
        {{ form.arte }}
    </div>

   


    <br>
    <button type="submit" class="btn btn-primary btn-lg">crear</button>
</form>
