{% load static %}
<section class="page-title" style="background-image: url('{% static 'images/background/bg-8.jpg' %}');">
  <div class="auto-container">
      <div class="content-box">
          <div class="content-wrapper">
              <div class="title">
                  <h1>Cursos disponibles</h1>
              </div>
              <ul class="bread-crumb">
                  <li><a href="index.html">Home</a></li>
                  <li>Cursos disponibles</li>
              </ul>
          </div>                    
      </div>
  </div>
</section>