{% load static %}
<section class="driving-info-section">
  <div class="traffic-cone" data-parallax='{"y": 30}'><img src="{% static 'images/resource/image-8.jpg' %}" alt=""></div>
  <div class="auto-container">
      <div class="row">
          <div class="col-lg-6">
              <div class="image-block">
                  <div class="image" data-parallax='{"x": 50}'><img src="{% static 'images/resource/image-7.jpg' %}" alt=""></div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="content-block">
                  <div class="sec-title mb-20">
                      <div class="sub-title">countless benefits of drivega</div>
                      <h2>Modern Technologies <br> For Much Easier Driving</h2>
                  </div>
                  <div class="text mb-30">Nunc quam arcu, pretium quis quam sed, laoreet efficitur aliquam volutpat. lobortis sem consequat consequat imperdiet. In nulla sed viverraut loremut tetur diam nunc bibendum sed imperdiets. </div>
                  <div class="icon-box">
                      <div class="icon"><img src="{% static 'images/icons/icon-7.png' %} " alt=""></div>
                      <div class="content">
                          <h4>Learn from Experienced Teachers</h4>
                          <div class="text">Kaoreet efficitur leo. Aliquam volutpa lobortis sem consequat consequat imperdiet. In nulla sed viverraut loremut.</div>
                      </div>
                  </div>
                  <div class="icon-box">
                      <div class="icon"><img src="{% static 'images/icons/icon-8.png' %}" alt=""></div>
                      <div class="content">
                          <h4>Covering All Aspects of Safe Driving</h4>
                          <div class="text">Kaoreet efficitur leo. Aliquam volutpa lobortis sem consequat consequat imperdiet. In nulla sed viverraut loremut.</div>
                      </div>
                  </div>
                  <div class="link-btn"><a href="{% url 'course_list' %}" class="theme-btn btn-style-one style-three"><span>Join Our Driving Course </span></a></div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="funfacts-section">
  <div class="auto-container">
      <div class="row">
          <!--Column-->
          <div class="column counter-column col-lg-4 col-md-6">
              <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="icon-outer">
                      <div class="icon"><img src="assets/images/icons/icon-9.png" alt=""></div>
                      <div class="hover-icon"><img src="assets/images/icons/icon-9.png" alt=""></div>
                  </div>
                  <div class="content">
                      <div class="count-outer count-box">
                          <span class="count-text" data-speed="3000" data-stop="98">0</span><span>%</span>
                      </div>
                      <div class="text">Our Driving Test <br> Passing Rate</div>
                  </div>
              </div>
          </div>
          <!--Column-->
          <div class="column counter-column col-lg-4 col-md-6">
              <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="icon-outer">
                      <div class="icon"><img src="assets/images/icons/icon-10.png" alt=""></div>
                      <div class="hover-icon"><img src="assets/images/icons/icon-10.png" alt=""></div>
                  </div>
                  <div class="content">
                      <div class="count-outer count-box">
                          <span class="count-text" data-speed="3000" data-stop="450">0</span><span>+</span>
                      </div>
                      <div class="text">Happy Customers <br> Nationwide</div>
                  </div>
              </div>
          </div>
          <!--Column-->
          <div class="column counter-column col-lg-4 col-md-6">
              <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="icon-outer">
                      <div class="icon"><img src="assets/images/icons/icon-11.png" alt=""></div>
                      <div class="hover-icon"><img src="assets/images/icons/icon-11.png" alt=""></div>
                  </div>
                  <div class="content">
                      <div class="count-outer count-box">
                          <span class="count-text" data-speed="3000" data-stop="6">0</span><span>Yrs</span>
                      </div>
                      <div class="text">Our Instructor’s <br> Teaching Experience</div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>