<section class="working-process-section">
  <div class="background-icon"><img src="assets/images/icons/icon-12.png" alt=""></div>
  <div class="auto-container">
      <div class="top-content">
          <div class="sec-title text-center mb-30">
              <div class="sub-title">learning drive is easy with us</div>
              <h2>How Drivega Works</h2>
          </div>
          <div class="text text-center">Aute irure dolor reprehenderit cepteur sint ocaecat cupidatate <br> sed ipsum non proident int sunt indys culpa quis. </div>
      </div>
      <div class="wrapper-box">
          <div class="row">
              <div class="col-lg-4 col-md-6 process-block">
                  <div class="inner-box">
                      <div class="count">01</div>
                      <div class="content">
                          <div>
                              <h4>Choose a Course <br> With Right Package</h4>
                              <div class="text">Nunc quam ar pretium quis <br> lobortis sel consequat conse <br> tetur diam nuc bibend.</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 process-block active">
                  <div class="inner-box">
                      <div class="count">02</div>
                      <div class="content">
                          <div>
                              <h4>Start Your Course <br> With Our Instructors</h4>
                              <div class="text">Nunc quam ar pretium quis <br> lobortis sel consequat conse <br> tetur diam nuc bibend.</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 process-block">
                  <div class="inner-box">
                      <div class="count">03</div>
                      <div class="content">
                          <div>
                              <h4>Pass Your Road <br> Test & Get License</h4>
                              <div class="text">Nunc quam ar pretium quis <br> lobortis sel consequat conse <br> tetur diam nuc bibend.</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>