<section class="services-section">
  <div class="auto-container">
      <div class="row no-gutters">
          <div class="service-block-one col-lg-3 col-md-6">
              <div class="inner-box">
                  <div class="icon">
                      <img src="assets/images/icons/icon-3.png" alt="">
                      <div class="hover-icon"><img src="assets/images/icons/icon-3.png" alt=""></div>
                  </div>
                  <div class="lower-content">
                      <h4>Learn Basics Of <br>  Driving Safely</h4>
                      <div class="text">Nunc quam ar pretium quis
                          lobortis sel consequat conse
                          tetur diam nuc bibend.</div>
                      <div class="read-more-btn"><a href="courses-1.html"><img src="assets/images/icons/icon-13.png" alt=""></a></div>
                  </div>
              </div>
          </div>
          <div class="service-block-one col-lg-3 col-md-6">
              <div class="inner-box active">
                  <div class="icon">
                      <img src="assets/images/icons/icon-4.png" alt="">
                      <div class="hover-icon"><img src="assets/images/icons/icon-4.png" alt=""></div>
                  </div>
                  <div class="lower-content">
                      <h4>Virtual Classroom <br> Training Facility</h4>
                      <div class="text">Nunc quam ar pretium quis
                          lobortis sel consequat conse
                          tetur diam nuc bibend.</div>
                      <div class="read-more-btn"><a href="courses-1.html"><img src="assets/images/icons/icon-13.png" alt=""></a></div>
                  </div>
              </div>
          </div>
          <div class="service-block-one col-lg-3 col-md-6">
              <div class="inner-box">
                  <div class="icon">
                      <img src="assets/images/icons/icon-5.png" alt="">
                      <div class="hover-icon"><img src="assets/images/icons/icon-5.png" alt=""></div>
                  </div>
                  <div class="lower-content">
                      <h4>Free Informational <br> Videos & Materials</h4>
                      <div class="text">Nunc quam ar pretium quis
                          lobortis sel consequat conse
                          tetur diam nuc bibend.</div>
                      <div class="read-more-btn"><a href="courses-1.html"><img src="assets/images/icons/icon-13.png" alt=""></a></div>
                  </div>
              </div>
          </div>
          <div class="service-block-one col-lg-3 col-md-6">
              <div class="inner-box">
                  <div class="icon">
                      <img src="assets/images/icons/icon-6.png" alt="">
                      <div class="hover-icon"><img src="assets/images/icons/icon-6.png" alt=""></div>
                  </div>
                  <div class="lower-content">
                      <h4>Fully Insured, <br> Licensed & Bonded</h4>
                      <div class="text">Nunc quam ar pretium quis
                          lobortis sel consequat conse
                          tetur diam nuc bibend.</div>
                      <div class="read-more-btn"><a href="courses-1.html"><img src="assets/images/icons/icon-13.png" alt=""></a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>